<!DOCTYPE HTML>
<html>

<head>
   <title>CHWI-ZONE</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="../css/main.css" />
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body class="is-preload">
      <!-- Header -->
      <header id="header">
         <h1><a href="./main">Chwi-Zone</a></h1>
         <nav class="links">
            <ul>
               <li><a href="/mypage">마이페이지</a></li>
               <li><a href="/bookmark">즐겨찾기</a></li>
            </ul>
         </nav>
         <nav class="main">
            <ul>
               <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                     <input type="text" name="query" placeholder="Search" />
                  </form>
               </li>
               <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
               </li>
            </ul>
         </nav>
      </header>
      <!-- Menu -->
      <section id="menu">
         <!-- Search -->
         <section>
            <form class="search" method="get" action="#">
               <input type="text" name="query" placeholder="Search" />
            </form>
         </section>
         <!-- Links -->
         <section>
            <ul class="links">
               <li>
                  <a href="/mypage">
                     <h3>마이페이지</h3>
                     <p>MyPage</p>
                  </a>
               </li>
               <li>
                  <a href="/bookmark">
                     <h3>즐겨찾기</h3>
                     <p>Favorites</p>
                  </a>
               </li>
            </ul>
         </section>
         <!-- login action -->
         <section>
            <ul class="actions stacked">
               <li>
                  <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/youtube.readonly openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=http://localhost:3000/account/googlesigncallback&response_type=code&client_id=323175054347-2opv5viepsbbh21foitrcit5qvfdh5is.apps.googleusercontent.com"
                  class="button large fit">
                  Sign in with Google
               </a>
               </li>
            </ul>
         </section>
      </section>
      <!-- Main -->
      <div>
         
         <div style = "position: absolute;">
            <div>
               <h2 id = "bookmark">BOOKMARK</h2>
               <h1 id = "mainPage">나의 관심 <br>회사 리스트</h1>
            </div>
         </div>
         <img id = "commonCol" src="../images/color.png"></img>
      </div>
          <!--페이지 내용 -->
          
          <section id="bookmarkList"></section>
         <!-- Footer -->
         <section id="footer">
         </section>


      <!-- Scripts -->
      <script src="../js/jquery-3.2.1.min.js"></script>
      <script src="../js/browser.min.js"></script>
      <script src="../js/breakpoints.min.js"></script>
      <script src="../js/util.js"></script>
      <script src="../js/main.js"></script>

      <script>
         
         var email_address = sessionStorage.getItem("email");
         bookmarkStock();
         function bookmarkStock() {
            $.ajax({
               url: "/bookmark/company",
               type: "GET",
               data: {
                  email_address: email_address,
               },
               success: function (data) {
                  if(data=="none"){
                     console.log(data)
                     console.log(email_address)
                        $("#bookmarkList").append('<h1>회사 정보가 없습니다.</h1>');
            
                  }else{
                     console.log(email_address)
                     for (var i = 0; i < data.length; i++) {
                     var dataElement = data[i];
                     $("#bookmarkList").append(
                        //'<h1> 회사이름:' + '</h1>'+ '<span>' + dataElement.stocks_name + '</span>'+'<br>');
                  
                        '<a href="../company?stocks_id=' + dataElement.stocks_id + '" class="col-4">' +
                        '<span class="image fit" style="text-align:center">' +
                           dataElement.stocks_name +
                        '</span>' + '</a>');
                     }
                  }
                 
                  
               },
            });
         }
      </script>
</body>

</html