<!DOCTYPE HTML>
<html>

<head>
   <title>CHWI-ZONE</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="../css/main.css" />
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body class="is-preload">


      <!-- Header -->
      <header id="header">
         <h1><a href="./main">Chwi-Zone</a></h1>
         <nav class="links">
            <ul>
               <li><a href="./mypage">마이페이지</a></li>
               <li><a href="./bookmark">즐겨찾기</a></li>
            </ul>
         </nav>
         <nav class="main">
            <ul>
               <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                     <input type="text" name="query" placeholder="Search" />
                  </form>
               </li>
               <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
               </li>
            </ul>
         </nav>
      </header>
      <!-- Menu -->
      <section id="menu">
         <!-- Search -->
         <section>
            <form class="search" method="get" action="#">
               <input type="text" name="query" placeholder="Search" />
            </form>
         </section>
         <!-- Links -->
         <section>
            <ul class="links">
               <li>
                  <a href="./mypage">
                     <h3>마이페이지</h3>
                     <p>MyPage</p>
                  </a>
               </li>
               <li>
                  <a href="./bookmark">
                     <h3>즐겨찾기</h3>
                     <p>Favorites</p>
                  </a>
               </li>
            </ul>
         </section>
      </section>
      <!-- Main -->
      <div id="main">
         <div style = "position: absolute;">
      <div style="background-color: #d6d4d4; width:250px; height:60px; float:left; margin: 65px; margin-top: 50px;border-radius: 20px;">
         <h3 id = "companyfav">기업 정보</h3>
   </div>
   
         </div>
         
      </div>
      <br><br><br><br><br><br>

      
         <!--페이지 내용 -->
         
         <span id="companyName" style="font-size: 30px; font-weight: bold;"> </span>
         <i class="icon solid fa-heart bookmark" style="float:right; margin: 10px;"></i><br><br>
         <span id="companySector"></span><br>
         <span style="font-weight: bold;">주가: </span>
         <span id="companyPrice" style="font-weight: bold;"></span><br>
         <img id = "companyChart" src=""></img>
         

         <!-- Footer -->
         <section id="footer">
         </section>
      </div>

      <!-- Scripts -->
      <script src="../js/jquery-3.2.1.min.js"></script>
      <script src="../js/browser.min.js"></script>
      <script src="../js/breakpoints.min.js"></script>
      <script src="../js/util.js"></script>
      <script src="../js/main.js"></script>
  
  


      <script>
          const like = document.querySelector(".bookmark");

          let value ;
         let order;
         //쿼리문 분석해서 ajax로 company.js ./info 로 날려서 정보 받아오기
         //queryString를 객체화(Object)하는 메소드
         var email_address = sessionStorage.getItem("email");
         function getQueryStringObject() {
            var a = window.location.search.substr(1).split("&");
            if (a == "") return {};
            var b = {};
            for (var i = 0; i < a.length; ++i) {
               var p = a[i].split("=", 2);
               if (p.length == 1) b[p[0]] = "";
               else b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
            return b;
         }
         var qs = getQueryStringObject();
         console.log(qs);
         companyInfo();
         function companyInfo() {
            $.ajax({
               url: "/company/info",
               type: "GET",
               data: {
                  stocks_id: qs.stocks_id,
                  email_address :email_address,
               },
               success: function (data) {
                  console.log(data.length);
                  $("#companyName").text(data[0][0].stocks_name);
                  $("#companySector").text(data[0][0].sector_name);
                  value = data[1][0].value;
                  console.log(value);
                  if(value == 1){
                     like.classList.add("active");
                  }else if (value ==0){
                     like.classList.remove("active");
                  }
               },
            });
         }
         like.addEventListener("click", () => {
            like.classList.toggle("active");
            if(like.classList.contains("active")){
               order = "insert"
            }else{
               order = "delete"
            }
            $.ajax({
               url: "/bookmark",
               type: "POST",
               data: {
                  stocks_id: qs.stocks_id,
                  email_address :email_address,
                  order: order,
               },
               success: function (data) {
                 console.log("bookmark success");
               },
            });
         });
         priceChart();
         function priceChart() {
            $.ajax({
               url: "/company/price",
               type: "GET",
               data: {
                  stocks_id: qs.stocks_id,
               },
               success: function (data) {
                  console.log(data);
                  $("#companyPrice").text(data[0]);
                  document.getElementById('companyChart').src = data[1];

               },
            });
         }

      </script>

</body>

</html>