<!-- 전체 공통 틀-->
<!DOCTYPE HTML>
<html>

<head>
   <title>CHWI-ZONE</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="../css/main.css" />
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body class="is-preload">
      <!-- Header -->
      <header id="header">
         <h1><a href="./index">Chwi-Zone</a></h1>
         <nav class="links">
            <ul>
               <li><a href="./mypage">마이페이지</a></li>
               <li><a href="./bookmark">즐겨찾기</a></li>
            </ul>
         </nav>
         <nav class="main">
            <ul>
               <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                     <input type="text" name="query" placeholder="Search" />
                  </form>
               </li>
               <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
               </li>
            </ul>
         </nav>
      </header>
      <!-- Menu -->
      <section id="menu">
         <!-- Search -->
         <section>
            <form class="search" method="get" action="#">
               <input type="text" name="query" placeholder="Search" />
            </form>
         </section>
         <!-- Links -->
         <section>
            <ul class="links">
               <li>
                  <a href="./mypage">
                     <h3>마이페이지</h3>
                     <p>MyPage</p>
                  </a>
               </li>
               <li>
                  <a href="./bookmark">
                     <h3>즐겨찾기</h3>
                     <p>Favorites</p>
                  </a>
               </li>
            </ul>
         </section>
      </section>
      <!-- Main -->
      <div style ="position:absolute; top:0;" >
           
        <div style ="position: relative;top:450px; left: 110px;">
         <ul class="actions stacked">
               <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/youtube.readonly openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=http://localhost:3000/account/googlesigncallback&response_type=code&client_id=323175054347-2opv5viepsbbh21foitrcit5qvfdh5is.apps.googleusercontent.com">
                  <img src="/images/google.png">
               </a>
         </ul>
         </div>
         <img src="/images/index.png" style="width:100%; height:100% ;margin-top:-45px;">
         </div>

      <!-- Scripts --> 
      <script src="../js/jquery-3.2.1.min.js"></script>
      <script src="../js/browser.min.js"></script>
      <script src="../js/breakpoints.min.js"></script>
      <script src="../js/util.js"></script>
      <script src="../js/main.js"></script>

</body>

</html>