<!DOCTYPE HTML>
<html>

<head>
   <title>CHWI-ZONE</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="../css/main.css" />
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body class="is-preload">

      <!-- Header -->
      <header id="header">
         <h1 style="margin: 0;"><a href="./index">Chwi-Zone</a></h1>
         <nav class="links">
            <ul>
               <li><a href="/mypage">마이페이지</a></li>
               <li><a href="/bookmark">즐겨찾기</a></li>
            </ul>
         </nav>
         <nav class="main">
            <ul>
               <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                     <input type="text" name="query" placeholder="Search" />
                  </form>
               </li>
               <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
               </li>
            </ul>
         </nav>
      </header>
      <!-- Menu -->
      <section id="menu">
         <!-- Search -->
         <section>
            <form class="search" method="get" action="#">
               <input type="text" name="query" placeholder="Search" />
            </form>
         </section>
         <!-- Links -->
         <section>
            <ul class="links">
               <li>
                  <a href="/mypage">
                     <h3>마이페이지</h3>
                     <p>MyPage</p>
                  </a>
               </li>
               <li>
                  <a href="/bookmark">
                     <h3>즐겨찾기</h3>
                     <p>Favorites</p>
                  </a>
               </li>
            </ul>
         </section>
      </section>
      <!-- Main -->
        <div class="top-bar">
           <h1 style="font-size:25px; text-align: center; padding:100px 10px; color:white">
              당신을 위한<br /> 주식 종목 리스트입니다</h1>
        </div>
      <div id="email"></div>
      <section id = "companyList"></section>
   </div>
   <!-- Scripts -->
   <script src="../js/jquery-3.2.1.min.js"></script>
   <script src="../js/browser.min.js"></script>
   <script src="../js/breakpoints.min.js"></script>
   <script src="../js/util.js"></script>
   <script src="../js/main.js"></script>

   <script>
      //받아온 data값이 아닌 session 값에 있는 email 활용
      var email_address = sessionStorage.getItem("email");

      //취향 받아와서 회사 띄우기(sector_name보다 youtube_category로 하는게 좋을 듯)
      //main.js 코드다 company_list가 서버 초기화 안시키면 계속 받아오지기 때문에 company_list 값 받아올때마다 초기화하게 코드 작성 
      recommendStock();
      function recommendStock() {
         $.ajax({
            url: "/main/recommend",
            type: "GET",
            data: {
               email_address: email_address,
            },
            success: function (data) {
               console.log(data);
               for (var i = 0; i < data.length; i++) {
                  var dataElement = data[i];
                  $("#companyList").append(
                     '<div id ="mainSector">' + dataElement.sector_name + '</div>')
                  for (var j = 0; j < dataElement.company_list.length; j++) {
                     var company_stocks_id = dataElement.company_list[j].stocks_id;
                     $("#companyList").append(
                        '<a href="../company?stocks_id=' + company_stocks_id + '">' +
                        '<div id = "mainCompany">' + dataElement.company_list[j].stocks_name +'</div>' + '</a>'+ 
                        '<hr style ="margin-top:3px;">');
                  }
               }
            },
         });
      }
   </script>
</body>

</html