<!DOCTYPE HTML>
<html>

<head>
   <title>CHWI-ZONE</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="../css/main.css" />
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body class="is-preload">

<!-- Header -->
<header id="header">
   <h1><a href="./main">Chwi-Zone</a></h1>
   <nav class="links">
      <ul>
         <li><a href="/mypage">마이페이지</a></li>
         <li><a href="/bookmark">즐겨찾기</a></li>
      </ul>
   </nav>
   <nav class="main">
      <ul>
         <li class="search">
            <a class="fa-search" href="#search">Search</a>
            <form id="search" method="get" action="#">
               <input type="text" name="query" placeholder="Search" />
            </form>
         </li>
         <li class="menu">
            <a class="fa-bars" href="#menu">Menu</a>
         </li>
      </ul>
   </nav>
</header>
<!-- Menu -->
<section id="menu">
   <!-- Search -->
   <section>
      <form class="search" method="get" action="#">
         <input type="text" name="query" placeholder="Search" />
      </form>
   </section>
   <!-- Links -->
   <section>
      <ul class="links">
         <li>
            <a href="/mypage">
               <h3>마이페이지</h3>
               <p>MyPage</p>
            </a>
         </li>
         <li>
            <a href="/bookmark">
               <h3>즐겨찾기</h3>
               <p>Favorites</p>
            </a>
         </li>
      </ul>
   </section>
   <!-- login action -->
   
</section>

         
      <!--페이지 내용 -->
      <div>
         <div style = "position: absolute;">
            <div>
               <h1 id = "myPage">MY PAGE</h1>
            </div>
      <div style="background-color: whitesmoke; width:350px; height:120px; float:left; margin: 12.5px; border-radius: 30px;">

         <div style="float:left"><img src="../images/hana.png" alt="" style="width:90px; height: 90px; border-radius: 50%; margin-left: 10px;margin-top: 15px;"></div>
         <div style="float:left; margin: 3px; font-weight: bold;">
            <br>
         <span style="margin-left: 10px;">이름 : </span>
         <span id = "name"> </span><br>
         <span style="margin-left: 10px;">이메일 : </span>
         <span id = "email"></span>
      </div>
   </div>
         </div>
         <img id = "commonCol" src="../images/color.png"></img>
      </div>
      <br>
      <img src="../images/myCategory.png" style ="margin-left: 120px"></img>

         <div class="chart" style="float: left; margin: 40px;"></div>
         <br>
         <br>
      
      <section id="userList"></section>
      <!-- Footer -->
      <section id="footer">
    </section>
 </div>

 <!-- Scripts -->
 <script src="../js/jquery-3.2.1.min.js"></script>
 <script src="../js/browser.min.js"></script>
 <script src="../js/breakpoints.min.js"></script>
 <script src="../js/util.js"></script>
 <script src="../js/main.js"></script>
 <script src="https://d3js.org/d3.v4.min.js"></script>
 <script>
    var email_address = sessionStorage.getItem("email");

    function userInfo() {
       $.ajax({
          url: "/mypage/user",
          type: "GET",
          data: {
             email_address: email_address,
          },
          success: function (data) {
             console.log(data);
             $("#name").text(data[0][0].user_name);
             $("#email").text(data[0][0].email_address);

             var sum = 0;
             var subCountList = new Array();
             var categoryList = new Array();
             for (var i = 0; i < data[1].length; i++) {
                var dataElement = data[1][i];
                sum += dataElement.sub_count;
             }

             for (var i = 0; i < data[1].length; i++) {
                var category = data[1][i].youtube_category;
                var percentSub = Math.floor((data[1][i].sub_count / sum) * 100);
                subCountList.push(percentSub);
                categoryList.push(category);
             }
             console.log(subCountList);
             drawChart(categoryList, subCountList);
          },
       });
    }

    function drawChart(cList, sList) {
       var w = 300, h = 400;
       var graphCategory = cList;
       var graphCount = sList;
       // 취향 개수대로 colorData 연결됨(취향 개수랑 colorData 개수 같을 필요 없음 )
       var colorData =  ["MediumVioletRed", "LightSalmon", "LightYellow","LightGreen","MediumAquaMarine","LimeGreen","OliveDrab","PaleTurquoise","LightSkyBlue", "LightSteelBlue","MediumOrchid", "MediumPurple","LightPink","Plum","Orchid","LightSlateGrey"];
       var pie = d3.pie();
       //outerRadius가 바깥쪽 반지름(inner은 안쪽)
       var arc = d3.arc().innerRadius(0).outerRadius(150);

       var svg = d3.select(".chart")
          .append("svg")
          .attr("width", w)
          .attr("height", h)
          .attr("id", "graphWrap");

       var g = svg.selectAll(".pie")
          .data(pie(graphCount))
          .enter()
          .append("g")
          .attr("class", "pie")
          .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")");

       g.append("path")
          .style("fill", function (d, i) {
             return colorData[i];
          })
          .transition()
          .duration(500)
          .delay(function (d, i) {
             return i * 500;
          })
          .attrTween("d", function (d, i) {
             var interpolate = d3.interpolate(
                { startAngle: d.startAngle, endAngle: d.startAngle },
                { startAngle: d.startAngle, endAngle: d.endAngle }
             );
             return function (t) {
                return arc(interpolate(t));
             }
          });

       g.append("text")
          .attr("transform", function (d) { return "translate(" + arc.centroid(d) + ")"; })
          .attr("dy", ".35em")
          .style("text-anchor", "middle")
          .text(function (d, i) {
             return graphCategory[i] + ": " + graphCount[i] + "%";
          });

    }
    userInfo();
 </script>
</body>

</html>