<!-- 로딩 페이지(분석중)-->
<!DOCTYPE HTML>
<html>

<head> <title>CHWI-ZONE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script></head>

<body>
    
    <header id="header">
        <h1><a href="./main">Chwi-Zone</a></h1>
        <nav class="links">
           <!-- <ul>
              <li><a href="./mypage">마이페이지</a></li>
              <li><a href="./bookmark">즐겨찾기</a></li>
           </ul> -->
        </nav>
        <nav class="main">
           <!-- <ul>
              <li class="search">
                 <a class="fa-search" href="#search">Search</a>
                 <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                 </form>
              </li>
              <li class="menu">
                 <a class="fa-bars" href="#menu">Menu</a>
              </li>
           </ul> -->
        </nav>
     </header>
     
    <!-- res.render로 data(json) 오면 <%=data%>로 받아오면 됨-->
    
    <div>
        <img style="width: 300px; height: 300px; margin-top:100px" src="/images/done.png" />
    </div>  
    <div>
        <button id="startBtn" style="background-color:#A1CAFF; width: 250px; height: 70px; border-radius: 20px; font-size: medium; font-weight:bold; margin-top: 20px; background: linear-gradient(to bottom, #D0E4FA, #A1CAFF, #9EBFE3); box-shadow: 2px 2px 4px #999999;">취향 분석하러 가기</button>
        <div id = "email", style="color:white"><%=data%></div>
    </div>
    <!--제대로 data(email_address) 왔는지 확인 -->
    <!-- <div id="email" style="margin-left: 115px; margin-top: 30px; font-weight: bold;"><%=data%></div> -->

</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>
    var email_address = document.getElementById("email").textContent;
    //로그인 완료되면 account.js에서 넘어온 email 값을 session에 넣어서 활용(query로 같이 안날려도 됨)
    sessionStorage.setItem("email", email_address);


    function loadYoutube() {
        $.ajax({
            url: "/youtube/subscribe",
            type: "GET",
            data: {
                email_address: email_address,
            },
            success: function (data) {
                console.log(data);
                if (data == 1) {
                   window.location.href = "/main";
                }
            }
        });
    }
    $("#startBtn").click(function() {
        loadYoutube();
    });
</script>

</html>